[user]
	name = servitola
	email = servitola@gmail.com
	
[branch]
	sort = -committerdate # Show most recently changed branches first.

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = dev

[include]
    path = .gitconfig_aliases

[include]
    path = .gitconfig_colors