.DS_Store
karabiner/automatic_backups/
karabiner/karabiner.json

jetbrains rider/settings
.aider*
colima/default/daemon/daemon.log
colima/default/daemon/daemon.pid


cron/cron_jobs/youtrack.cron
docker-logger/logs
