<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <add key="http_proxy" value="http://127.0.0.1:8118" />
    <add key="no_proxy" value="api.nuget.org,.nuget.org,localhost,127.0.0.1" />
  </config>
</configuration>
