;; !  | means mandatory
;; #  | means optional
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; need to prefix C T O S F with ! or #
{
 :profiles {:Default {
              :default true 
              :sim 80 ; keys need to be pressed within this threshold to be considered simultaneous
              :delay 500 ; basically it means time after which the key press is count delayed
              :alone 50 ; hold for .. ms to register single tap
              :held 50 ; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
            }}

 :templates {:km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""}

 :devices {:apl-usb-int [{:vendor_id 1452, :product_id 635}] ; Apple Internal & Magic Keyboard (USB)
           :apl-bt [{:vendor_id 1452, :product_id 615}] ; Apple Magic Keyboard (Bluetooth)
           :ap2 [{:vendor_id 1241, :product_id 41618}] ; AnnePro2
           }

 :simlayers {
   :caps_lock-layer {:key :caps_lock}
   :left_shift-caps_lock-layer {:key :left_shift}
   }

 :main [

;;  {:des "Uppercase diacritic characters - '/' for acute accent and ';' for umlaut, '\\' for grave 
;;  accent and '6' for circumflex. Example: 'slash' + ['shift' + 'a'] = Á"
;;      :rules [
;;        [:left_shift :caps_lock :1 ]
;;      ;   [{:key :1 :modi :shift} [:7] [:caps_lock-layer]] 
;;      ]
;;  }

{:sim [:left_shift :caps_lock]
         :simo {:interrupt true
                :dorder :strict
                :uorder :strict_inverse}}

 {:des "simultaneous j l press to F19" :rules [[[:left_shift :caps_lock :1] :7]]}

;;  {:des "e-key shortcuts"                             ; Hold 'e' + extra key
    ;;   :rules [ :left_shift-caps_lock-layer
    ;;     [:caps_lock :1 [:f1]]
    ;;   ]
    ;;  }

        {:des "[Internal Keyboard] fn -> left_control"
         :rules [[:##fn :left_control [:apl-usb-int]]]}

        {:des "Caps_Lock + All buttons"
         :rules [:caps_lock-layer

                 [:escape [:grave_accent_and_tilde]]



                 [:1 [:f1]]
                 [:!S1 [:!Sf1]]
                 [:!C1 [:!Cf1]]
                 [:!T1 [:!Tf1]]
                 [:!O1 [:!Of1]]
                 [:!TS1 [:!TSf1]]
                 [:!OS1 [:!OSf1]]
                 [:!CS1 [:!CSf1]]
                 [:!TC1 [:!TCf1]]
                 [:!OC1 [:!OCf1]]
                 [:!SC1 [:!SCf1]]
                 [:!CT1 [:!CTf1]]
                 [:!OT1 [:!OTf1]]
                 [:!ST1 [:!STf1]]
                 [:!CO1 [:!COf1]]
                 [:!TO1 [:!TOf1]]
                 [:!SO1 [:!SOf1]]

                 [:2 [:f2]]
                 [:!S2 [:!Sf2]]
                 [:!C2 [:!Cf2]]
                 [:!T2 [:!Tf2]]
                 [:!O2 [:!Of2]]
                 [:!TS2 [:!TSf2]]
                 [:!OS2 [:!OSf2]]
                 [:!CS2 [:!CSf2]]
                 [:!TC2 [:!TCf2]]
                 [:!OC2 [:!OCf2]]
                 [:!SC2 [:!SCf2]]
                 [:!CT2 [:!CTf2]]
                 [:!OT2 [:!OTf2]]
                 [:!ST2 [:!STf2]]
                 [:!CO2 [:!COf2]]
                 [:!TO2 [:!TOf2]]
                 [:!SO2 [:!SOf2]]

                 [:3 [:f3]]
                 [:!S3 [:!Sf3]]
                 [:!C3 [:!Cf3]]
                 [:!T3 [:!Tf3]]
                 [:!O3 [:!Of3]]
                 [:!TS3 [:!TSf3]]
                 [:!OS3 [:!OSf3]]
                 [:!CS3 [:!CSf3]]
                 [:!TC3 [:!TCf3]]
                 [:!OC3 [:!OCf3]]
                 [:!SC3 [:!SCf3]]
                 [:!CT3 [:!CTf3]]
                 [:!OT3 [:!OTf3]]
                 [:!ST3 [:!STf3]]
                 [:!CO3 [:!COf3]]
                 [:!TO3 [:!TOf3]]
                 [:!SO3 [:!SOf3]]

                 [:4 [:f4]]
                 [:!S4 [:!Sf4]]
                 [:!C4 [:!Cf4]]
                 [:!T4 [:!Tf4]]
                 [:!O4 [:!Of4]]
                 [:!TS4 [:!TSf4]]
                 [:!OS4 [:!OSf4]]
                 [:!CS4 [:!CSf4]]
                 [:!TC4 [:!TCf4]]
                 [:!OC4 [:!OCf4]]
                 [:!SC4 [:!SCf4]]
                 [:!CT4 [:!CTf4]]
                 [:!OT4 [:!OTf4]]
                 [:!ST4 [:!STf4]]
                 [:!CO4 [:!COf4]]
                 [:!TO4 [:!TOf4]]
                 [:!SO4 [:!SOf4]]

                 [:5 [:f5]]
                 [:!S5 [:!Sf5]]
                 [:!C5 [:!Cf5]]
                 [:!T5 [:!Tf5]]
                 [:!O5 [:!Of5]]
                 [:!TS5 [:!TSf5]]
                 [:!OS5 [:!OSf5]]
                 [:!CS5 [:!CSf5]]
                 [:!TC5 [:!TCf5]]
                 [:!OC5 [:!OCf5]]
                 [:!SC5 [:!SCf5]]
                 [:!CT5 [:!CTf5]]
                 [:!OT5 [:!OTf5]]
                 [:!ST5 [:!STf5]]
                 [:!CO5 [:!COf5]]
                 [:!TO5 [:!TOf5]]
                 [:!SO5 [:!SOf5]]

                 [:6 [:f6]]
                 [:!S6 [:!Sf6]]
                 [:!C6 [:!Cf6]]
                 [:!T6 [:!Tf6]]
                 [:!O6 [:!Of6]]
                 [:!TS6 [:!TSf6]]
                 [:!OS6 [:!OSf6]]
                 [:!CS6 [:!CSf6]]
                 [:!TC6 [:!TCf6]]
                 [:!OC6 [:!OCf6]]
                 [:!SC6 [:!SCf6]]
                 [:!CT6 [:!CTf6]]
                 [:!OT6 [:!OTf6]]
                 [:!ST6 [:!STf6]]
                 [:!CO6 [:!COf6]]
                 [:!TO6 [:!TOf6]]
                 [:!SO6 [:!SOf6]]

                 [:7 [:f7]]
                 [:!S7 [:!Sf7]]
                 [:!C7 [:!Cf7]]
                 [:!T7 [:!Tf7]]
                 [:!O7 [:!Of7]]
                 [:!TS7 [:!TSf7]]
                 [:!OS7 [:!OSf7]]
                 [:!CS7 [:!CSf7]]
                 [:!TC7 [:!TCf7]]
                 [:!OC7 [:!OCf7]]
                 [:!SC7 [:!SCf7]]
                 [:!CT7 [:!CTf7]]
                 [:!OT7 [:!OTf7]]
                 [:!ST7 [:!STf7]]
                 [:!CO7 [:!COf7]]
                 [:!TO7 [:!TOf7]]
                 [:!SO7 [:!SOf7]]

                 [:8 [:f8]]
                 [:!S8 [:!Sf8]]
                 [:!C8 [:!Cf8]]
                 [:!T8 [:!Tf8]]
                 [:!O8 [:!Of8]]
                 [:!TS8 [:!TSf8]]
                 [:!OS8 [:!OSf8]]
                 [:!CS8 [:!CSf8]]
                 [:!TC8 [:!TCf8]]
                 [:!OC8 [:!OCf8]]
                 [:!SC8 [:!SCf8]]
                 [:!CT8 [:!CTf8]]
                 [:!OT8 [:!OTf8]]
                 [:!ST8 [:!STf8]]
                 [:!CO8 [:!COf8]]
                 [:!TO8 [:!TOf8]]
                 [:!SO8 [:!SOf8]]

                 [:9 [:f9]]
                 [:!S9 [:!Sf9]]
                 [:!C9 [:!Cf9]]
                 [:!T9 [:!Tf9]]
                 [:!O9 [:!Of9]]
                 [:!TS9 [:!TSf9]]
                 [:!OS9 [:!OSf9]]
                 [:!CS9 [:!CSf9]]
                 [:!TC9 [:!TCf9]]
                 [:!OC9 [:!OCf9]]
                 [:!SC9 [:!SCf9]]
                 [:!CT9 [:!CTf9]]
                 [:!OT9 [:!OTf9]]
                 [:!ST9 [:!STf9]]
                 [:!CO9 [:!COf9]]
                 [:!TO9 [:!TOf9]]
                 [:!SO9 [:!SOf9]]

                 [:0 [:f10]]
                 [:!S0 [:!Sf10]]
                 [:!C0 [:!Cf10]]
                 [:!T0 [:!Tf10]]
                 [:!O0 [:!Of10]]
                 [:!TS0 [:!TSf10]]
                 [:!OS0 [:!OSf10]]
                 [:!CS0 [:!CSf10]]
                 [:!TC0 [:!TCf10]]
                 [:!OC0 [:!OCf10]]
                 [:!SC0 [:!SCf10]]
                 [:!CT0 [:!CTf10]]
                 [:!OT0 [:!OTf10]]
                 [:!ST0 [:!STf10]]
                 [:!CO0 [:!COf10]]
                 [:!TO0 [:!TOf10]]
                 [:!SO0 [:!SOf10]]

                 [:delete_or_backspace [:delete_forward]]
                 [:!Sdelete_or_backspace [:!Sdelete_forward]]
                 [:!Cdelete_or_backspace [:!Cdelete_forward]]
                 [:!Tdelete_or_backspace [:!Tdelete_forward]]
                 [:!Odelete_or_backspace [:!Odelete_forward]]
                 [:!TSdelete_or_backspace [:!TSdelete_forward]]
                 [:!OSdelete_or_backspace [:!OSdelete_forward]]
                 [:!CSdelete_or_backspace [:!CSdelete_forward]]
                 [:!TCdelete_or_backspace [:!TCdelete_forward]]
                 [:!OCdelete_or_backspace [:!OCdelete_forward]]
                 [:!SCdelete_or_backspace [:!SCdelete_forward]]
                 [:!CTdelete_or_backspace [:!CTdelete_forward]]
                 [:!OTdelete_or_backspace [:!OTdelete_forward]]
                 [:!STdelete_or_backspace [:!STdelete_forward]]
                 [:!COdelete_or_backspace [:!COdelete_forward]]
                 [:!TOdelete_or_backspace [:!TOdelete_forward]]
                 [:!SOdelete_or_backspace [:!SOdelete_forward]]

                 [:q [:page_up]]
                 [:!Sq [:!Spage_up]]
                 [:!Cq [:!Cpage_up]]
                 [:!Tq [:!Tpage_up]]
                 [:!Oq [:!Opage_up]]
                 [:!TSq [:!TSpage_up]]
                 [:!OSq [:!OSpage_up]]
                 [:!CSq [:!CSpage_up]]
                 [:!TCq [:!TCpage_up]]
                 [:!OCq [:!OCpage_up]]
                 [:!SCq [:!SCpage_up]]
                 [:!CTq [:!CTpage_up]]
                 [:!OTq [:!OTpage_up]]
                 [:!STq [:!STpage_up]]
                 [:!COq [:!COpage_up]]
                 [:!TOq [:!TOpage_up]]
                 [:!SOq [:!SOpage_up]]

                 [:w [:up_arrow]]
                 [:!Sw [:!Sup_arrow]]
                 [:!Cw [:!Cup_arrow]]
                 [:!Tw [:!Tup_arrow]]
                 [:!Ow [:!Oup_arrow]]
                 [:!TSw [:!TSup_arrow]]
                 [:!OSw [:!OSup_arrow]]
                 [:!CSw [:!CSup_arrow]]
                 [:!TCw [:!TCup_arrow]]
                 [:!OCw [:!OCup_arrow]]
                 [:!SCw [:!SCup_arrow]]
                 [:!CTw [:!CTup_arrow]]
                 [:!OTw [:!OTup_arrow]]
                 [:!STw [:!STup_arrow]]
                 [:!COw [:!COup_arrow]]
                 [:!TOw [:!TOup_arrow]]
                 [:!SOw [:!SOup_arrow]]

                 [:e [:page_down]]
                 [:!Se [:!Spage_down]]
                 [:!Ce [:!Cpage_down]]
                 [:!Te [:!Tpage_down]]
                 [:!Oe [:!Opage_down]]
                 [:!TSe [:!TSpage_down]]
                 [:!OSe [:!OSpage_down]]
                 [:!CSe [:!CSpage_down]]
                 [:!TCe [:!TCpage_down]]
                 [:!OCe [:!OCpage_down]]
                 [:!SCe [:!SCpage_down]]
                 [:!CTe [:!CTpage_down]]
                 [:!OTe [:!OTpage_down]]
                 [:!STe [:!STpage_down]]
                 [:!COe [:!COpage_down]]
                 [:!TOe [:!TOpage_down]]
                 [:!SOe [:!SOpage_down]]

                 [:r [:!SCTOr]]
                 [:t [:!SCTOt]]
                 [:y [:!SCTOy]]
                 [:u [:!SCTOu]]
                 [:i [:!SCTOu]]

                 [:o [:up_arrow]]
                 [:!So [:!Sup_arrow]]
                 [:!Co [:!Cup_arrow]]
                 [:!To [:!Tup_arrow]]
                 [:!Oo [:!Oup_arrow]]
                 [:!TSo [:!TSup_arrow]]
                 [:!OSo [:!OSup_arrow]]
                 [:!CSo [:!CSup_arrow]]
                 [:!TCo [:!TCup_arrow]]
                 [:!OCo [:!OCup_arrow]]
                 [:!SCo [:!SCup_arrow]]
                 [:!CTo [:!CTup_arrow]]
                 [:!OTo [:!OTup_arrow]]
                 [:!STo [:!STup_arrow]]
                 [:!COo [:!COup_arrow]]
                 [:!TOo [:!TOup_arrow]]
                 [:!SOo [:!SOup_arrow]]

                 [:p [:!SCTOp]]

                 [:open_bracket [:vk_consumer_next]]
                 [:close_bracket [:vk_consumer_previous]]

                 [:a [:left_arrow]]
                 [:!Sa [:!Sleft_arrow]]
                 [:!Ca [:!Cleft_arrow]]
                 [:!Ta [:!Tleft_arrow]]
                 [:!Oa [:!Oleft_arrow]]
                 [:!TSa [:!TSleft_arrow]]
                 [:!OSa [:!OSleft_arrow]]
                 [:!CSa [:!CSleft_arrow]]
                 [:!TCa [:!TCleft_arrow]]
                 [:!OCa [:!OCleft_arrow]]
                 [:!SCa [:!SCleft_arrow]]
                 [:!CTa [:!CTleft_arrow]]
                 [:!OTa [:!OTleft_arrow]]
                 [:!STa [:!STleft_arrow]]
                 [:!COa [:!COleft_arrow]]
                 [:!TOa [:!TOleft_arrow]]
                 [:!SOa [:!SOleft_arrow]]

                 [:s [:down_arrow]]
                 [:!Ss [:!Sdown_arrow]]
                 [:!Cs [:!Cdown_arrow]]
                 [:!Ts [:!Tdown_arrow]]
                 [:!Os [:!Odown_arrow]]
                 [:!TSs [:!TSdown_arrow]]
                 [:!OSs [:!OSdown_arrow]]
                 [:!CSs [:!CSdown_arrow]]
                 [:!TCs [:!TCdown_arrow]]
                 [:!OCs [:!OCdown_arrow]]
                 [:!SCs [:!SCdown_arrow]]
                 [:!CTs [:!CTdown_arrow]]
                 [:!OTs [:!OTdown_arrow]]
                 [:!STs [:!STdown_arrow]]
                 [:!COs [:!COdown_arrow]]
                 [:!TOs [:!TOdown_arrow]]
                 [:!SOs [:!SOdown_arrow]]

                 [:d [:right_arrow]]
                 [:!Sd [:!Sright_arrow]]
                 [:!Cd [:!Cright_arrow]]
                 [:!Td [:!Tright_arrow]]
                 [:!Od [:!Oright_arrow]]
                 [:!TSd [:!TSright_arrow]]
                 [:!OSd [:!OSright_arrow]]
                 [:!CSd [:!CSright_arrow]]
                 [:!TCd [:!TCright_arrow]]
                 [:!OCd [:!OCright_arrow]]
                 [:!SCd [:!SCright_arrow]]
                 [:!CTd [:!CTright_arrow]]
                 [:!OTd [:!OTright_arrow]]
                 [:!STd [:!STright_arrow]]
                 [:!COd [:!COright_arrow]]
                 [:!TOd [:!TOright_arrow]]
                 [:!SOd [:!SOright_arrow]]

                 [:f [:!SCTOf]]
                 [:g [:!SCTOg]]
                 [:h [:!SCTOh]]
                 [:j [:!SCTOj]]

                 [:k [:left_arrow]]
                 [:!Sk [:!Sleft_arrow]]
                 [:!Ck [:!Cleft_arrow]]
                 [:!Tk [:!Tleft_arrow]]
                 [:!Ok [:!Oleft_arrow]]
                 [:!TSk [:!TSleft_arrow]]
                 [:!OSk [:!OSleft_arrow]]
                 [:!CSk [:!CSleft_arrow]]
                 [:!TCk [:!TCleft_arrow]]
                 [:!OCk [:!OCleft_arrow]]
                 [:!SCk [:!SCleft_arrow]]
                 [:!CTk [:!CTleft_arrow]]
                 [:!OTk [:!OTleft_arrow]]
                 [:!STk [:!STleft_arrow]]
                 [:!COk [:!COleft_arrow]]
                 [:!TOk [:!TOleft_arrow]]
                 [:!SOk [:!SOleft_arrow]]

                 [:l [:down_arrow]]
                 [:!Sl [:!Sdown_arrow]]
                 [:!Cl [:!Cdown_arrow]]
                 [:!Tl [:!Tdown_arrow]]
                 [:!Ol [:!Odown_arrow]]
                 [:!TSl [:!TSdown_arrow]]
                 [:!OSl [:!OSdown_arrow]]
                 [:!CSl [:!CSdown_arrow]]
                 [:!TCl [:!TCdown_arrow]]
                 [:!OCl [:!OCdown_arrow]]
                 [:!SCl [:!SCdown_arrow]]
                 [:!CTl [:!CTdown_arrow]]
                 [:!OTl [:!OTdown_arrow]]
                 [:!STl [:!STdown_arrow]]
                 [:!COl [:!COdown_arrow]]
                 [:!TOl [:!TOdown_arrow]]
                 [:!SOl [:!SOdown_arrow]]

                 [:semicolon [:right_arrow]]
                 [:!Ssemicolon [:!Sright_arrow]]
                 [:!Csemicolon [:!Cright_arrow]]
                 [:!Tsemicolon [:!Tright_arrow]]
                 [:!Osemicolon [:!Oright_arrow]]
                 [:!TSsemicolon [:!TSright_arrow]]
                 [:!OSsemicolon [:!OSright_arrow]]
                 [:!CSsemicolon [:!CSright_arrow]]
                 [:!TCsemicolon [:!TCright_arrow]]
                 [:!OCsemicolon [:!OCright_arrow]]
                 [:!SCsemicolon [:!SCright_arrow]]
                 [:!CTsemicolon [:!CTright_arrow]]
                 [:!OTsemicolon [:!OTright_arrow]]
                 [:!STsemicolon [:!STright_arrow]]
                 [:!COsemicolon [:!COright_arrow]]
                 [:!TOsemicolon [:!TOright_arrow]]
                 [:!SOsemicolon [:!SOright_arrow]]

                 [:quote [:volume_increment]]

                 [:z [:!SCTOz]]

                 [:x [:!Cleft_arrow]]
                 [:!Sx [:!SCleft_arrow]]
                 [:!Cx [:!Cleft_arrow]]
                 [:!Tx [:!TCleft_arrow]]
                 [:!Ox [:!OCleft_arrow]]

                 [:c [:!Cright_arrow]]
                 [:!Sc [:!SCright_arrow]]
                 [:!Cc [:!Cright_arrow]]
                 [:!Tc [:!TCright_arrow]]
                 [:!Oc [:!OCright_arrow]]

                 [:v [:!SCTOv]]
                 [:b [:!SCTOb]]
                 [:n [:!SCTOn]]
                 [:m [:!SCTOm]]

                 [:comma [:!Cleft_arrow]]
                 [:!Scomma [:!SCleft_arrow]]
                 [:!Ccomma [:!Cleft_arrow]]
                 [:!Tcomma [:!TCleft_arrow]]
                 [:!Ocomma [:!OCleft_arrow]]

                 [:period [:!Cright_arrow]]
                 [:!Speriod [:!SCright_arrow]]
                 [:!Cperiod [:!Cright_arrow]]
                 [:!Tperiod [:!TCright_arrow]]
                 [:!Operiod [:!OCright_arrow]]

      ;;   ;; [:0 [:mute]]                    
                
                 [:slash [:volume_decrement]]
                 [:spacebar [:play_or_pause]]
                 ]
              }

    ;;               {
    ;;   ;; :des "[Space Mode] space+hjkl -> left/down/up/right"
    ;;   ;; :rules [
    ;;   ;;  :left_shift-caps_lock-layer:caps_lock
    ;;   ;;     [:1 [:f1]]
          
    ;;   ;; ]
    ;; }

    ;; Use e-key key to launch apps or actions
    

    ;; {:des "Keychron K1 - microphone button becomes 'Copy picture of selected area to clipboard'"
    ;;  :rules [ :kb-keychron-k1
    ;;     [[:fn :spacebar] [:screen_capture_clipboard]]   ;; Silently capture selected area to clipboard
    ;;  ]
    ;; }

              ;; {:des "Hyper + All buttons 2"
              ;;   :rules [:left_shift-caps_lock-layer:caps_lock :1 [:!Sf1]
                 
              ;;     ;;[:semicolon [:colon]]
              ;;     ;;[:caps_lock :1 [:!Sf1]]
              ;;     ;;[:1 :caps_lock [:!Sf1]]
              ;;     ;;[:caps_lock 2 [:!Sf2]]
              ;;   ;;  [:caps_lock3 [:!Sf3]]
              ;;   ;;  [:caps_lock4 [:!Sf4]]
              ;;   ;;  [:caps_lock5 [:!Sf5]]
              ;;   ;;  [:caps_lock6 [:!Sf6]]
              ;;   ;;  [:caps_lock7 [:!Sf7]]
              ;;   ;;  [:caps_lock8 [:!Sf8]]
              ;;   ;;  [:caps_lock9 [:!Sf9]]
              ;;   ;;  [:caps_lock0 [:!Sf10]]
                 
              ;;    ]}

;;     {
;;       :des "[Space Mode] OVERALL TRIGGER"
;;       :rules [:!qmk [:##spacebar {:set ["space-mode",1]} nil {:alone :spacebar :afterup {:set ["space-mode",0]}}]]
;;     }

;;     {
;;       :des "[Space Mode] space+b -> Space (hold to repeat)"
;;       :rules [
;;         :space-mode
;;           [:##b :spacebar]
;;       ]
;;     }

;;     {
;;       :des "[Space Mode] space+hjkl -> left/down/up/right"
;;       :rules [
;;         :space-mode
;;           [:##h :left_arrow]
;;           [:##j :down_arrow]
;;           [:##k :up_arrow]
;;           [:##l :right_arrow]
;;       ]
;;     }

;;     {
;;       :des "[Space Mode] Space+u to page_down, Space+i to page_up"
;;       :rules [
;;         :space-mode
;;           [:##u :page_down]
;;           [:##i :page_up]
;;       ]
;;     }

;;     {
;;       :des "[Space Mode] Space+y to home, Space+o to end"
;;       :rules [
;;         :space-mode
;;           [:##y :home]
;;           [:##o :end]
;;       ]
;;     }

;;     {
;;       :des "[Space Mode]: Space+[1-9] to F[1-9], Space+0 to F10, Space+Hyphen (-) to F11, Space+Equal Sign (=) to F12"
;;       :rules [
;;         :space-mode
;;           [:##1 :f1]
;;           [:##2 :f2]
;;           [:##3 :f3]
;;           [:##4 :f4]
;;           [:##5 :f5]
;;           [:##6 :f6]
;;           [:##7 :f7]
;;           [:##8 :f8]
;;           [:##9 :f9]
;;           [:##0 :f10]
;;           [:##hyphen :f11]
;;           [:##equal_sign :f12]
;;       ]
;;     }

;;     {
;;       :des "[Launch Mode] (l+;) TRIGGER"
;;       :rules [[{
;;         :sim [:l :semicolon]
;;         :simo {
;;           :interrupt true
;;           :dorder :insensitive
;;           :uorder :insensitive
;;           :afterup {:set ["launch-mode" 0]}}}
;;           {:set ["launch-mode" 1]}
;;       ]]
;;     }
;;     {:des "[Launch Mode] -> a (Open Activity Monitor)" :rules [:launch-mode [:##a [:km "open: Activity Monitor"]]]}
;;     {:des "[Launch Mode] -> s (Open Slack)" :rules [:launch-mode [:##s [:km "open: Slack"]]]}
;;     {:des "[Launch Mode] -> d (Open MySQLWorkbench)" :rules [:launch-mode [:##d [:km "open: MySQLWorkbench"]]]}
;;     {:des "[Launch Mode] -> f (Open Firefox)" :rules [:launch-mode [:##f [:km "open: Firefox"]]]}
;;     {:des "[Launch Mode] -> g (Open Fork)" :rules [:launch-mode [:##g [:km "open: Fork"]]]}
;;     {:des "[Launch Mode] -> h (Open Finder)" :rules [:launch-mode [:##h [:km "open: Finder"]]]}
;;     {:des "[Launch Mode] -> j (Open Kitty)" :rules [:launch-mode [:##j [:km "open: Kitty"]]]}
;;     {:des "[Launch Mode] -> k (Open Keyboard Maestro)" :rules [:launch-mode [:##k [:km "open: Keyboard Maestro"]]]}
;;     {:des "[Launch Mode] -> e (Open Spark)" :rules [:launch-mode [:##e [:km "open: Spark"]]]}
;;     {:des "[Launch Mode] -> r (Open Skype)" :rules [:launch-mode [:##r [:km "open: Skype"]]]}
;;     {:des "[Launch Mode] -> i (Open iTerm)" :rules [:launch-mode [:##i [:km "open: iTerm"]]]}
;;     {:des "[Launch Mode] -> z (Open Zoom)" :rules [:launch-mode [:##z [:km "open: Zoom"]]]}
;;     {:des "[Launch Mode] -> c (Open Chrome)" :rules [:launch-mode [:##c [:km "open: Chrome"]]]}
;;     {:des "[Launch Mode] -> v (Open VSCode)" :rules [:launch-mode [:##v [:km "open: VSCode"]]]}
;;     {:des "[Launch Mode] -> m (Open Spotify)" :rules [:launch-mode [:##m [:km "open: Spotify"]]]}
] ;; main list

        ;; {:des "[Windows Keyboard] windows -> left_option"
        ;;  :rules [[:##left_command :left_option [:lingyi]]]}

        ;; {:des "[Windows Keyboard] left_alt -> left_command"
        ;;  :rules [[:##left_option :left_command [:lingyi]]]}

        ;; {:des "[Windows Keyboard] right_alt -> right_command"
        ;;  :rules [[:##right_option :right_command [:lingyi]]]}

    ;; {
    ;;   :des "[Capslock Enhancement] caps_lock -> escape/left_control"
    ;;   :rules [[:##caps_lock :left_control nil {:alone :escape}]]
    ;; }

 }