;; !  | means mandatory
;; #  | means optional
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; need to prefix C T O S F with ! or #
{
 :profiles {:Default {
              :default true
              :sim 2 ; keys need to be pressed within this threshold to be considered simultaneous
              :delay 500 ; basically it means time after which the key press is count delayed
              :alone 10 ; hold for .. ms to register single tap
              :held 50 ; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
            }}

 :devices {:apl-usb-int [{:vendor_id 1452, :product_id 635}] ; Apple Internal & Magic Keyboard (USB)
           :apl-bt [{:vendor_id 1452, :product_id 615}] ; Apple Magic Keyboard (Bluetooth)
           :ap2 [{:vendor_id 1241, :product_id 41618}] ; AnnePro2
           }

 :main [

  {:des "Caps Lock to Right Hyper" :rules [[:caps_lock :!QWEright_shift] :apl-usb-int :apl-bt ]}

  {:des "Hyper Layer" :rules [
    [:!QWERescape [:grave_accent_and_tilde]]

    [:!QWER1 :f1]
    [:!QWERS1 :!Sf1]
    [:!QWERC1 :!Cf1]
    [:!QWERT1 :!Tf1]
    [:!QWERO1 :!Of1]
    [:!QWERTS1 :!TSf1]
    [:!QWEROS1 :!OSf1]
    [:!QWERCS1 :!CSf1]
    [:!QWERTC1 :!TCf1]
    [:!QWEROC1 :!OCf1]
    [:!QWERSC1 :!SCf1]
    [:!QWERCT1 :!CTf1]
    [:!QWEROT1 :!OTf1]
    [:!QWERST1 :!STf1]
    [:!QWERCO1 :!COf1]
    [:!QWERTO1 :!TOf1]
    [:!QWERSO1 :!SOf1]

    [:!QWER2 [:f2]]
    [:!QWERS2 [:!Sf2]]
    [:!QWERC2 [:!Cf2]]
    [:!QWERT2 [:!Tf2]]
    [:!QWERO2 [:!Of2]]
    [:!QWERTS2 [:!TSf2]]
    [:!QWEROS2 [:!OSf2]]
    [:!QWERCS2 [:!CSf2]]
    [:!QWERTC2 [:!TCf2]]
    [:!QWEROC2 [:!OCf2]]
    [:!QWERSC2 [:!SCf2]]
    [:!QWERCT2 [:!CTf2]]
    [:!QWEROT2 [:!OTf2]]
    [:!QWERST2 [:!STf2]]
    [:!QWERCO2 [:!COf2]]
    [:!QWERTO2 [:!TOf2]]
    [:!QWERSO2 [:!SOf2]]

    [:!QWER3 [:f3]]
    [:!QWERS3 [:!Sf3]]
    [:!QWERC3 [:!Cf3]]
    [:!QWERT3 [:!Tf3]]
    [:!QWERO3 [:!Of3]]
    [:!QWERTS3 [:!TSf3]]
    [:!QWEROS3 [:!OSf3]]
    [:!QWERCS3 [:!CSf3]]
    [:!QWERTC3 [:!TCf3]]
    [:!QWEROC3 [:!OCf3]]
    [:!QWERSC3 [:!SCf3]]
    [:!QWERCT3 [:!CTf3]]
    [:!QWEROT3 [:!OTf3]]
    [:!QWERST3 [:!STf3]]
    [:!QWERCO3 [:!COf3]]
    [:!QWERTO3 [:!TOf3]]
    [:!QWERSO3 [:!SOf3]]

    [:!QWER4 [:f4]]
    [:!QWERS4 [:!Sf4]]
    [:!QWERC4 [:!Cf4]]
    [:!QWERT4 [:!Tf4]]
    [:!QWERO4 [:!Of4]]
    [:!QWERTS4 [:!TSf4]]
    [:!QWEROS4 [:!OSf4]]
    [:!QWERCS4 [:!CSf4]]
    [:!QWERTC4 [:!TCf4]]
    [:!QWEROC4 [:!OCf4]]
    [:!QWERSC4 [:!SCf4]]
    [:!QWERCT4 [:!CTf4]]
    [:!QWEROT4 [:!OTf4]]
    [:!QWERST4 [:!STf4]]
    [:!QWERCO4 [:!COf4]]
    [:!QWERTO4 [:!TOf4]]
    [:!QWERSO4 [:!SOf4]]

    [:!QWER5 [:f5]]
    [:!QWERS5 [:!Sf5]]
    [:!QWERC5 [:!Cf5]]
    [:!QWERT5 [:!Tf5]]
    [:!QWERO5 [:!Of5]]
    [:!QWERTS5 [:!TSf5]]
    [:!QWEROS5 [:!OSf5]]
    [:!QWERCS5 [:!CSf5]]
    [:!QWERTC5 [:!TCf5]]
    [:!QWEROC5 [:!OCf5]]
    [:!QWERSC5 [:!SCf5]]
    [:!QWERCT5 [:!CTf5]]
    [:!QWEROT5 [:!OTf5]]
    [:!QWERST5 [:!STf5]]
    [:!QWERCO5 [:!COf5]]
    [:!QWERTO5 [:!TOf5]]
    [:!QWERSO5 [:!SOf5]]

    [:!QWER6 [:f6]]
    [:!QWERS6 [:!Sf6]]
    [:!QWERC6 [:!Cf6]]
    [:!QWERT6 [:!Tf6]]
    [:!QWERO6 [:!Of6]]
    [:!QWERTS6 [:!TSf6]]
    [:!QWEROS6 [:!OSf6]]
    [:!QWERCS6 [:!CSf6]]
    [:!QWERTC6 [:!TCf6]]
    [:!QWEROC6 [:!OCf6]]
    [:!QWERSC6 [:!SCf6]]
    [:!QWERCT6 [:!CTf6]]
    [:!QWEROT6 [:!OTf6]]
    [:!QWERST6 [:!STf6]]
    [:!QWERCO6 [:!COf6]]
    [:!QWERTO6 [:!TOf6]]
    [:!QWERSO6 [:!SOf6]]

    [:!QWER7 [:f7]]
    [:!QWERS7 [:!Sf7]]
    [:!QWERC7 [:!Cf7]]
    [:!QWERT7 [:!Tf7]]
    [:!QWERO7 [:!Of7]]
    [:!QWERTS7 [:!TSf7]]
    [:!QWEROS7 [:!OSf7]]
    [:!QWERCS7 [:!CSf7]]
    [:!QWERTC7 [:!TCf7]]
    [:!QWEROC7 [:!OCf7]]
    [:!QWERSC7 [:!SCf7]]
    [:!QWERCT7 [:!CTf7]]
    [:!QWEROT7 [:!OTf7]]
    [:!QWERST7 [:!STf7]]
    [:!QWERCO7 [:!COf7]]
    [:!QWERTO7 [:!TOf7]]
    [:!QWERSO7 [:!SOf7]]

    [:!QWER8 [:f8]]
    [:!QWERS8 [:!Sf8]]
    [:!QWERC8 [:!Cf8]]
    [:!QWERT8 [:!Tf8]]
    [:!QWERO8 [:!Of8]]
    [:!QWERTS8 [:!TSf8]]
    [:!QWEROS8 [:!OSf8]]
    [:!QWERCS8 [:!CSf8]]
    [:!QWERTC8 [:!TCf8]]
    [:!QWEROC8 [:!OCf8]]
    [:!QWERSC8 [:!SCf8]]
    [:!QWERCT8 [:!CTf8]]
    [:!QWEROT8 [:!OTf8]]
    [:!QWERST8 [:!STf8]]
    [:!QWERCO8 [:!COf8]]
    [:!QWERTO8 [:!TOf8]]
    [:!QWERSO8 [:!SOf8]]

    [:!QWER9 [:f9]]
    [:!QWERS9 [:!Sf9]]
    [:!QWERC9 [:!Cf9]]
    [:!QWERT9 [:!Tf9]]
    [:!QWERO9 [:!Of9]]
    [:!QWERTS9 [:!TSf9]]
    [:!QWEROS9 [:!OSf9]]
    [:!QWERCS9 [:!CSf9]]
    [:!QWERTC9 [:!TCf9]]
    [:!QWEROC9 [:!OCf9]]
    [:!QWERSC9 [:!SCf9]]
    [:!QWERCT9 [:!CTf9]]
    [:!QWEROT9 [:!OTf9]]
    [:!QWERST9 [:!STf9]]
    [:!QWERCO9 [:!COf9]]
    [:!QWERTO9 [:!TOf9]]
    [:!QWERSO9 [:!SOf9]]

    [:!QWER0 [:f10]]
    [:!QWERS0 [:!Sf10]]
    [:!QWERC0 [:!Cf10]]
    [:!QWERT0 [:!Tf10]]
    [:!QWERO0 [:!Of10]]
    [:!QWERTS0 [:!TSf10]]
    [:!QWEROS0 [:!OSf10]]
    [:!QWERCS0 [:!CSf10]]
    [:!QWERTC0 [:!TCf10]]
    [:!QWEROC0 [:!OCf10]]
    [:!QWERSC0 [:!SCf10]]
    [:!QWERCT0 [:!CTf10]]
    [:!QWEROT0 [:!OTf10]]
    [:!QWERST0 [:!STf10]]
    [:!QWERCO0 [:!COf10]]
    [:!QWERTO0 [:!TOf10]]
    [:!QWERSO0 [:!SOf10]]

    [:!QWERhyphen [:f11]]
    [:!QWERShyphen [:!Sf11]]
    [:!QWERChyphen [:!Cf11]]
    [:!QWERThyphen [:!Tf11]]
    [:!QWEROhyphen [:!Of11]]
    [:!QWERTShyphen [:!TSf11]]
    [:!QWEROShyphen [:!OSf11]]
    [:!QWERCShyphen [:!CSf11]]
    [:!QWERTChyphen [:!TCf11]]
    [:!QWEROChyphen [:!OCf11]]
    [:!QWERSChyphen [:!SCf11]]
    [:!QWERCThyphen [:!CTf11]]
    [:!QWEROThyphen [:!OTf11]]
    [:!QWERSThyphen [:!STf11]]
    [:!QWERCOhyphen [:!COf11]]
    [:!QWERTOhyphen [:!TOf11]]
    [:!QWERSOhyphen [:!SOf11]]

    [:!QWERequal_sign [:f12]]
    [:!QWERSequal_sign [:!Sf12]]
    [:!QWERCequal_sign [:!Cf12]]
    [:!QWERTequal_sign [:!Tf12]]
    [:!QWEROequal_sign [:!Of12]]
    [:!QWERTSequal_sign [:!TSf12]]
    [:!QWEROSequal_sign [:!OSf12]]
    [:!QWERCSequal_sign [:!CSf12]]
    [:!QWERTCequal_sign [:!TCf12]]
    [:!QWEROCequal_sign [:!OCf12]]
    [:!QWERSCequal_sign [:!SCf12]]
    [:!QWERCTequal_sign [:!CTf12]]
    [:!QWEROTequal_sign [:!OTf12]]
    [:!QWERSTequal_sign [:!STf12]]
    [:!QWERCOequal_sign [:!COf12]]
    [:!QWERTOequal_sign [:!TOf12]]
    [:!QWERSOequal_sign [:!SOf12]]

    [:!QWERdelete_or_backspace [:delete_forward]]
    [:!QWERSdelete_or_backspace [:!Sdelete_forward]]
    [:!QWERCdelete_or_backspace [:!Cdelete_forward]]
    [:!QWERTdelete_or_backspace [:!Tdelete_forward]]
    [:!QWEROdelete_or_backspace [:!Odelete_forward]]
    [:!QWERTSdelete_or_backspace [:!TSdelete_forward]]
    [:!QWEROSdelete_or_backspace [:!OSdelete_forward]]
    [:!QWERCSdelete_or_backspace [:!CSdelete_forward]]
    [:!QWERTCdelete_or_backspace [:!TCdelete_forward]]
    [:!QWEROCdelete_or_backspace [:!OCdelete_forward]]
    [:!QWERSCdelete_or_backspace [:!SCdelete_forward]]
    [:!QWERCTdelete_or_backspace [:!CTdelete_forward]]
    [:!QWEROTdelete_or_backspace [:!OTdelete_forward]]
    [:!QWERSTdelete_or_backspace [:!STdelete_forward]]
    [:!QWERCOdelete_or_backspace [:!COdelete_forward]]
    [:!QWERTOdelete_or_backspace [:!TOdelete_forward]]
    [:!QWERSOdelete_or_backspace [:!SOdelete_forward]]

    [:!QWERq [:page_up]]
    [:!QWERSq [:!Spage_up]]
    [:!QWERCq [:!Cpage_up]]
    [:!QWERTq [:!Tpage_up]]
    [:!QWEROq [:!Opage_up]]
    [:!QWERTSq [:!TSpage_up]]
    [:!QWEROSq [:!OSpage_up]]
    [:!QWERCSq [:!CSpage_up]]
    [:!QWERTCq [:!TCpage_up]]
    [:!QWEROCq [:!OCpage_up]]
    [:!QWERSCq [:!SCpage_up]]
    [:!QWERCTq [:!CTpage_up]]
    [:!QWEROTq [:!OTpage_up]]
    [:!QWERSTq [:!STpage_up]]
    [:!QWERCOq [:!COpage_up]]
    [:!QWERTOq [:!TOpage_up]]
    [:!QWERSOq [:!SOpage_up]]

    [:!QWERw [:up_arrow]]
    [:!QWERSw [:!Sup_arrow]]
    [:!QWERCw [:!Cup_arrow]]
    [:!QWERTw [:!Tup_arrow]]
    [:!QWEROw [:!Oup_arrow]]
    [:!QWERTSw [:!TSup_arrow]]
    [:!QWEROSw [:!OSup_arrow]]
    [:!QWERCSw [:!CSup_arrow]]
    [:!QWERTCw [:!TCup_arrow]]
    [:!QWEROCw [:!OCup_arrow]]
    [:!QWERSCw [:!SCup_arrow]]
    [:!QWERCTw [:!CTup_arrow]]
    [:!QWEROTw [:!OTup_arrow]]
    [:!QWERSTw [:!STup_arrow]]
    [:!QWERCOw [:!COup_arrow]]
    [:!QWERTOw [:!TOup_arrow]]
    [:!QWERSOw [:!SOup_arrow]]

    [:!QWERe [:page_down]]
    [:!QWERSe [:!Spage_down]]
    [:!QWERCe [:!Cpage_down]]
    [:!QWERTe [:!Tpage_down]]
    [:!QWEROe [:!Opage_down]]
    [:!QWERTSe [:!TSpage_down]]
    [:!QWEROSe [:!OSpage_down]]
    [:!QWERCSe [:!CSpage_down]]
    [:!QWERTCe [:!TCpage_down]]
    [:!QWEROCe [:!OCpage_down]]
    [:!QWERSCe [:!SCpage_down]]
    [:!QWERCTe [:!CTpage_down]]
    [:!QWEROTe [:!OTpage_down]]
    [:!QWERSTe [:!STpage_down]]
    [:!QWERCOe [:!COpage_down]]
    [:!QWERTOe [:!TOpage_down]]
    [:!QWERSOe [:!SOpage_down]]

    [:!QWERo [:up_arrow]]
    [:!QWERSo [:!Sup_arrow]]
    [:!QWERCo [:!Cup_arrow]]
    [:!QWERTo [:!Tup_arrow]]
    [:!QWEROo [:!Oup_arrow]]
    [:!QWERTSo [:!TSup_arrow]]
    [:!QWEROSo [:!OSup_arrow]]
    [:!QWERCSo [:!CSup_arrow]]
    [:!QWERTCo [:!TCup_arrow]]
    [:!QWEROCo [:!OCup_arrow]]
    [:!QWERSCo [:!SCup_arrow]]
    [:!QWERCTo [:!CTup_arrow]]
    [:!QWEROTo [:!OTup_arrow]]
    [:!QWERSTo [:!STup_arrow]]
    [:!QWERCOo [:!COup_arrow]]
    [:!QWERTOo [:!TOup_arrow]]
    [:!QWERSOo [:!SOup_arrow]]

    [:!QWERopen_bracket [:vk_consumer_previous]]
    [:!QWERclose_bracket [:vk_consumer_next]]

    [:!QWERa [:left_arrow]]
    [:!QWERSa [:!Sleft_arrow]]
    [:!QWERCa [:!Cleft_arrow]]
    [:!QWERTa [:!Tleft_arrow]]
    [:!QWEROa [:!Oleft_arrow]]
    [:!QWERTSa [:!TSleft_arrow]]
    [:!QWEROSa [:!OSleft_arrow]]
    [:!QWERCSa [:!CSleft_arrow]]
    [:!QWERTCa [:!TCleft_arrow]]
    [:!QWEROCa [:!OCleft_arrow]]
    [:!QWERSCa [:!SCleft_arrow]]
    [:!QWERCTa [:!CTleft_arrow]]
    [:!QWEROTa [:!OTleft_arrow]]
    [:!QWERSTa [:!STleft_arrow]]
    [:!QWERCOa [:!COleft_arrow]]
    [:!QWERTOa [:!TOleft_arrow]]
    [:!QWERSOa [:!SOleft_arrow]]

    [:!QWERs [:down_arrow]]
    [:!QWERSs [:!Sdown_arrow]]
    [:!QWERCs [:!Cdown_arrow]]
    [:!QWERTs [:!Tdown_arrow]]
    [:!QWEROs [:!Odown_arrow]]
    [:!QWERTSs [:!TSdown_arrow]]
    [:!QWEROSs [:!OSdown_arrow]]
    [:!QWERCSs [:!CSdown_arrow]]
    [:!QWERTCs [:!TCdown_arrow]]
    [:!QWEROCs [:!OCdown_arrow]]
    [:!QWERSCs [:!SCdown_arrow]]
    [:!QWERCTs [:!CTdown_arrow]]
    [:!QWEROTs [:!OTdown_arrow]]
    [:!QWERSTs [:!STdown_arrow]]
    [:!QWERCOs [:!COdown_arrow]]
    [:!QWERTOs [:!TOdown_arrow]]
    [:!QWERSOs [:!SOdown_arrow]]

    [:!QWERd [:right_arrow]]
    [:!QWERSd [:!Sright_arrow]]
    [:!QWERCd [:!Cright_arrow]]
    [:!QWERTd [:!Tright_arrow]]
    [:!QWEROd [:!Oright_arrow]]
    [:!QWERTSd [:!TSright_arrow]]
    [:!QWEROSd [:!OSright_arrow]]
    [:!QWERCSd [:!CSright_arrow]]
    [:!QWERTCd [:!TCright_arrow]]
    [:!QWEROCd [:!OCright_arrow]]
    [:!QWERSCd [:!SCright_arrow]]
    [:!QWERCTd [:!CTright_arrow]]
    [:!QWEROTd [:!OTright_arrow]]
    [:!QWERSTd [:!STright_arrow]]
    [:!QWERCOd [:!COright_arrow]]
    [:!QWERTOd [:!TOright_arrow]]
    [:!QWERSOd [:!SOright_arrow]]

    [:!QWERk [:left_arrow]]
    [:!QWERSk [:!Sleft_arrow]]
    [:!QWERCk [:!Cleft_arrow]]
    [:!QWERTk [:!Tleft_arrow]]
    [:!QWEROk [:!Oleft_arrow]]
    [:!QWERTSk [:!TSleft_arrow]]
    [:!QWEROSk [:!OSleft_arrow]]
    [:!QWERCSk [:!CSleft_arrow]]
    [:!QWERTCk [:!TCleft_arrow]]
    [:!QWEROCk [:!OCleft_arrow]]
    [:!QWERSCk [:!SCleft_arrow]]
    [:!QWERCTk [:!CTleft_arrow]]
    [:!QWEROTk [:!OTleft_arrow]]
    [:!QWERSTk [:!STleft_arrow]]
    [:!QWERCOk [:!COleft_arrow]]
    [:!QWERTOk [:!TOleft_arrow]]
    [:!QWERSOk [:!SOleft_arrow]]

    [:!QWERl [:down_arrow]]
    [:!QWERSl [:!Sdown_arrow]]
    [:!QWERCl [:!Cdown_arrow]]
    [:!QWERTl [:!Tdown_arrow]]
    [:!QWEROl [:!Odown_arrow]]
    [:!QWERTSl [:!TSdown_arrow]]
    [:!QWEROSl [:!OSdown_arrow]]
    [:!QWERCSl [:!CSdown_arrow]]
    [:!QWERTCl [:!TCdown_arrow]]
    [:!QWEROCl [:!OCdown_arrow]]
    [:!QWERSCl [:!SCdown_arrow]]
    [:!QWERCTl [:!CTdown_arrow]]
    [:!QWEROTl [:!OTdown_arrow]]
    [:!QWERSTl [:!STdown_arrow]]
    [:!QWERCOl [:!COdown_arrow]]
    [:!QWERTOl [:!TOdown_arrow]]
    [:!QWERSOl [:!SOdown_arrow]]

    [:!QWERsemicolon [:right_arrow]]
    [:!QWERSsemicolon [:!Sright_arrow]]
    [:!QWERCsemicolon [:!Cright_arrow]]
    [:!QWERTsemicolon [:!Tright_arrow]]
    [:!QWEROsemicolon [:!Oright_arrow]]
    [:!QWERTSsemicolon [:!TSright_arrow]]
    [:!QWEROSsemicolon [:!OSright_arrow]]
    [:!QWERCSsemicolon [:!CSright_arrow]]
    [:!QWERTCsemicolon [:!TCright_arrow]]
    [:!QWEROCsemicolon [:!OCright_arrow]]
    [:!QWERSCsemicolon [:!SCright_arrow]]
    [:!QWERCTsemicolon [:!CTright_arrow]]
    [:!QWEROTsemicolon [:!OTright_arrow]]
    [:!QWERSTsemicolon [:!STright_arrow]]
    [:!QWERCOsemicolon [:!COright_arrow]]
    [:!QWERTOsemicolon [:!TOright_arrow]]
    [:!QWERSOsemicolon [:!SOright_arrow]]

    [:!QWERquote [:volume_increment]]

    [:!QWERx [:!Cleft_arrow]]
    [:!QWERSx [:!SCleft_arrow]]
    [:!QWERCx [:!Cleft_arrow]]
    [:!QWERTx [:!TCleft_arrow]]
    [:!QWEROx [:!OCleft_arrow]]

    [:!QWERc [:!Cright_arrow]]
    [:!QWERSc [:!SCright_arrow]]
    [:!QWERCc [:!Cright_arrow]]
    [:!QWERTc [:!TCright_arrow]]
    [:!QWEROc [:!OCright_arrow]]

    [:!QWERcomma [:!Cleft_arrow]]
    [:!QWERScomma [:!SCleft_arrow]]
    [:!QWERCcomma [:!Cleft_arrow]]
    [:!QWERTcomma [:!TCleft_arrow]]
    [:!QWEROcomma [:!OCleft_arrow]]

    [:!QWERperiod [:!Cright_arrow]]
    [:!QWERSperiod [:!SCright_arrow]]
    [:!QWERCperiod [:!Cright_arrow]]
    [:!QWERTperiod [:!TCright_arrow]]
    [:!QWEROperiod [:!OCright_arrow]]

    [:!QWERslash [:volume_decrement]]
    [:!QWERspacebar [:play_or_pause]]

    :apl-usb-int
    :apl-bt
  ]}

  {:des "[Internal Keyboard] fn -> left_control" :rules [[:##fn :left_control] :apl-usb-int :apl-bt]}

]}
